# Local environment (test) data - generally just extra noise in a repo - not useful
local-data

# Artifacts
bin

# .env files
*.env*

# Coverage reports
*.out

# Elastic Beanstalk Files
.ebextensions/*
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
